<div class="mobile-menu-modal" id="mobile-menu-modal">
  <div class="mobile-menu-content">
    <button class="close-modal" id="close-mobile-menu" aria-label="Close menu">
      &times;
    </button>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="#how-to-play">How to Play</a></li>
      <li><a href="block-merge-news.html">Game Updates</a></li>
      <li><a href="block-contacts.html">Support</a></li>
      <li><a href="block-disclaimer.html">Terms</a></li>
    </ul>
  </div>
</div>
